/* Document
* ========================================================================== */

/**
* Add border box sizing in all browsers (opinionated).
*/

*,
::before,
::after {
<<<<<<< HEAD
box-sizing: border-box;
=======
  box-sizing: border-box;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* 1. Add text decoration inheritance in all browsers (opinionated).
* 2. Add vertical alignment inheritance in all browsers (opinionated).
*/

::before,
::after {
<<<<<<< HEAD
vertical-align: inherit; /* 2 */
text-decoration: inherit; /* 1 */
=======
  vertical-align: inherit;
  /* 2 */
  text-decoration: inherit;
  /* 1 */
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* 1. Use the default cursor in all browsers (opinionated).
* 2. Change the line height in all browsers (opinionated).
* 3. Use a 4-space tab width in all browsers (opinionated).
* 4. Remove the grey highlight on links in iOS (opinionated).
* 5. Prevent adjustments of font size after orientation changes in
*    IE on Windows Phone and in iOS.
* 6. Breaks words to prevent overflow in all browsers (opinionated).
*/

html {
<<<<<<< HEAD
word-break: break-word; /* 6 */
-moz-tab-size: 4; /* 3 */
tab-size: 4; /* 3 */
line-height: 1.5; /* 2 */
cursor: default; /* 1 */

-webkit-tap-highlight-color: transparent /* 4 */;
-ms-text-size-adjust: 100%; /* 5 */
-webkit-text-size-adjust: 100%; /* 5 */
=======
  word-break: break-word;
  /* 6 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  line-height: 1.5;
  /* 2 */
  cursor: default;
  /* 1 */

  -webkit-tap-highlight-color: transparent
    /* 4 */
  ;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
>>>>>>> 1d5a0c1 (ファイル追加)
}

/* Sections
* ========================================================================== */

/**
* Remove the margin in all browsers (opinionated).
*/

body {
<<<<<<< HEAD
margin: 0;
=======
  margin: 0;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Edge, Firefox, and Safari.
*/

h1 {
<<<<<<< HEAD
margin: 0.67em 0;
font-size: 2em;
=======
  margin: 0.67em 0;
  font-size: 2em;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/* Grouping content
* ========================================================================== */

/**
* Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
*/

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
<<<<<<< HEAD
margin: 0;
=======
  margin: 0;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Remove the margin on nested lists in Edge 18- and IE.
*/

ol ol,
ol ul,
ul ol,
ul ul {
<<<<<<< HEAD
margin: 0;
=======
  margin: 0;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* 1. Add the correct sizing in Firefox.
* 2. Show the overflow in Edge 18- and IE.
*/

hr {
<<<<<<< HEAD
overflow: visible; /* 2 */
height: 0; /* 1 */
=======
  overflow: visible;
  /* 2 */
  height: 0;
  /* 1 */
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Add the correct display in IE.
*/

main {
<<<<<<< HEAD
display: block;
=======
  display: block;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Remove the list style on navigation lists in all browsers (opinionated).
*/

nav ol,
nav ul {
<<<<<<< HEAD
padding: 0;
list-style: none;
=======
  padding: 0;
  list-style: none;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

pre {
<<<<<<< HEAD
font-size: 1em; /* 2 */
font-family: monospace, monospace; /* 1 */
=======
  font-size: 1em;
  /* 2 */
  font-family: monospace, monospace;
  /* 1 */
>>>>>>> 1d5a0c1 (ファイル追加)
}

/* Text-level semantics
* ========================================================================== */

/**
* Remove the gray background on active links in IE 10.
*/

a {
<<<<<<< HEAD
background-color: transparent;
=======
  background-color: transparent;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Add the correct text decoration in Edge 18-, IE, and Safari.
*/

abbr[title] {
<<<<<<< HEAD
text-decoration: underline;
text-decoration: underline dotted;
=======
  text-decoration: underline;
  text-decoration: underline dotted;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/

b,
strong {
<<<<<<< HEAD
font-weight: bolder;
=======
  font-weight: bolder;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp {
<<<<<<< HEAD
font-size: 1em; /* 2 */
font-family: monospace, monospace; /* 1 */
=======
  font-size: 1em;
  /* 2 */
  font-family: monospace, monospace;
  /* 1 */
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Add the correct font size in all browsers.
*/

small {
<<<<<<< HEAD
font-size: 80%;
=======
  font-size: 80%;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/* Embedded content
* ========================================================================== */

/*
* Change the alignment on media elements in all browsers (opinionated).
*/

audio,
canvas,
iframe,
img,
svg,
video {
<<<<<<< HEAD
vertical-align: middle;
=======
  vertical-align: middle;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Add the correct display in IE 9-.
*/

audio,
video {
<<<<<<< HEAD
display: inline-block;
=======
  display: inline-block;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Add the correct display in iOS 4-7.
*/

audio:not([controls]) {
<<<<<<< HEAD
display: none;
height: 0;
=======
  display: none;
  height: 0;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Remove the border on iframes in all browsers (opinionated).
*/

iframe {
<<<<<<< HEAD
border-style: none;
=======
  border-style: none;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Remove the border on images within links in IE 10-.
*/

img {
<<<<<<< HEAD
border-style: none;
=======
  border-style: none;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Change the fill color to match the text color in all browsers (opinionated).
*/

svg:not([fill]) {
<<<<<<< HEAD
fill: currentColor;
=======
  fill: currentColor;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Hide the overflow in IE.
*/

svg:not(:root) {
<<<<<<< HEAD
overflow: hidden;
=======
  overflow: hidden;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/* Tabular data
* ========================================================================== */

/**
* Collapse border spacing in all browsers (opinionated).
*/

table {
<<<<<<< HEAD
border-collapse: collapse;
=======
  border-collapse: collapse;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/* Forms
* ========================================================================== */

/**
* Remove the margin on controls in Safari.
*/

button,
input,
select {
<<<<<<< HEAD
margin: 0;
=======
  margin: 0;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* 1. Show the overflow in IE.
* 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
*/

button {
<<<<<<< HEAD
overflow: visible; /* 1 */
text-transform: none; /* 2 */
=======
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Correct the inability to style buttons in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
<<<<<<< HEAD
-webkit-appearance: button;
=======
  -webkit-appearance: button;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* 1. Change the inconsistent appearance in all browsers (opinionated).
* 2. Correct the padding in Firefox.
*/

fieldset {
<<<<<<< HEAD
padding: 0.35em 0.75em 0.625em; /* 2 */
border: 1px solid #a0a0a0; /* 1 */
=======
  padding: 0.35em 0.75em 0.625em;
  /* 2 */
  border: 1px solid #a0a0a0;
  /* 1 */
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Show the overflow in Edge 18- and IE.
*/

input {
<<<<<<< HEAD
overflow: visible;
=======
  overflow: visible;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* 1. Correct the text wrapping in Edge 18- and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
*/

legend {
<<<<<<< HEAD
display: table; /* 1 */
max-width: 100%; /* 1 */
color: inherit; /* 2 */
white-space: normal; /* 1 */
=======
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* 1. Add the correct display in Edge 18- and IE.
* 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
*/

progress {
<<<<<<< HEAD
display: inline-block; /* 1 */
vertical-align: baseline; /* 2 */
=======
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Remove the inheritance of text transform in Firefox.
*/

select {
<<<<<<< HEAD
text-transform: none;
=======
  text-transform: none;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* 1. Remove the margin in Firefox and Safari.
* 2. Remove the default vertical scrollbar in IE.
* 3. Change the resize direction in all browsers (opinionated).
*/

textarea {
<<<<<<< HEAD
overflow: auto; /* 2 */
margin: 0; /* 1 */
resize: vertical; /* 3 */
=======
  overflow: auto;
  /* 2 */
  margin: 0;
  /* 1 */
  resize: vertical;
  /* 3 */
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Remove the padding in IE 10-.
*/

[type="checkbox"],
[type="radio"] {
<<<<<<< HEAD
padding: 0;
=======
  padding: 0;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* 1. Correct the odd appearance in Chrome, Edge, and Safari.
* 2. Correct the outline style in Safari.
*/

[type="search"] {
<<<<<<< HEAD
outline-offset: -2px; /* 2 */

-webkit-appearance: textfield; /* 1 */
=======
  outline-offset: -2px;
  /* 2 */

  -webkit-appearance: textfield;
  /* 1 */
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
<<<<<<< HEAD
height: auto;
=======
  height: auto;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Correct the text style of placeholders in Chrome, Edge, and Safari.
*/

::-webkit-input-placeholder {
<<<<<<< HEAD
color: inherit;
opacity: 0.54;
=======
  color: inherit;
  opacity: 0.54;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Remove the inner padding in Chrome, Edge, and Safari on macOS.
*/

::-webkit-search-decoration {
<<<<<<< HEAD
-webkit-appearance: none;
=======
  -webkit-appearance: none;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* 1. Correct the inability to style upload buttons in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
<<<<<<< HEAD
font: inherit; /* 2 */

-webkit-appearance: button; /* 1 */
=======
  font: inherit;
  /* 2 */

  -webkit-appearance: button;
  /* 1 */
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Remove the inner border and padding of focus outlines in Firefox.
*/

::-moz-focus-inner {
<<<<<<< HEAD
padding: 0;
border-style: none;
=======
  padding: 0;
  border-style: none;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Restore the focus outline styles unset by the previous rule in Firefox.
*/

:-moz-focusring {
<<<<<<< HEAD
outline: 1px dotted ButtonText;
=======
  outline: 1px dotted ButtonText;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Remove the additional :invalid styles in Firefox.
*/

:-moz-ui-invalid {
<<<<<<< HEAD
box-shadow: none;
=======
  box-shadow: none;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/* Interactive
* ========================================================================== */

/*
* Add the correct display in Edge 18- and IE.
*/

details {
<<<<<<< HEAD
display: block;
=======
  display: block;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/*
* Add the correct styles in Edge 18-, IE, and Safari.
*/

dialog {
<<<<<<< HEAD
position: absolute;
right: 0;
left: 0;
display: block;
margin: auto;
padding: 1em;
width: -moz-fit-content;
width: -webkit-fit-content;
width: fit-content;
height: -moz-fit-content;
height: -webkit-fit-content;
height: fit-content;
border: solid;
background-color: white;
color: black;
}

dialog:not([open]) {
display: none;
=======
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  margin: auto;
  padding: 1em;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  border: solid;
  background-color: white;
  color: black;
}

dialog:not([open]) {
  display: none;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/*
* Add the correct display in all browsers.
*/

summary {
<<<<<<< HEAD
display: list-item;
=======
  display: list-item;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/* Scripting
* ========================================================================== */

/**
* Add the correct display in IE 9-.
*/

canvas {
<<<<<<< HEAD
display: inline-block;
=======
  display: inline-block;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Add the correct display in IE.
*/

template {
<<<<<<< HEAD
display: none;
=======
  display: none;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/* User interaction
* ========================================================================== */

/*
* 1. Remove the tapping delay in IE 10.
* 2. Remove the tapping delay on clickable elements
in all browsers (opinionated).
*/

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
<<<<<<< HEAD
-ms-touch-action: manipulation; /* 1 */
touch-action: manipulation; /* 2 */
=======
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */
>>>>>>> 1d5a0c1 (ファイル追加)
}

/**
* Add the correct display in IE 10-.
*/

[hidden] {
<<<<<<< HEAD
display: none;
=======
  display: none;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/* Accessibility
* ========================================================================== */

/**
* Change the cursor on busy elements in all browsers (opinionated).
*/

[aria-busy="true"] {
<<<<<<< HEAD
cursor: progress;
=======
  cursor: progress;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/*
* Change the cursor on control elements in all browsers (opinionated).
*/

[aria-controls] {
<<<<<<< HEAD
cursor: pointer;
=======
  cursor: pointer;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/*
* Change the cursor on disabled, not-editable, or otherwise
* inoperable elements in all browsers (opinionated).
*/

[aria-disabled="true"],
[disabled] {
<<<<<<< HEAD
cursor: not-allowed;
=======
  cursor: not-allowed;
>>>>>>> 1d5a0c1 (ファイル追加)
}

/*
* Change the display on visually hidden accessible elements
* in all browsers (opinionated).
*/

[aria-hidden="false"][hidden] {
<<<<<<< HEAD
display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
position: absolute;
clip: rect(0, 0, 0, 0);
=======
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  position: absolute;
  clip: rect(0, 0, 0, 0);
>>>>>>> 1d5a0c1 (ファイル追加)
}